*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: crimson;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}
section {
    padding: 5em 2em;
}
strong { font-weight: var(--fw-bold) }
/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    
}
.section__title--intro {
    font-weight: var(--fw-reg)
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section__title--intro strong {
    display: block;
}
.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}
/*header*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*  Intro section  */

.Introduction {
    position: relative;
}

@media (min-width: 800px) {
    .Introduction{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        box-shadow: var(--bs);
    } 
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        display: inline-block;
    }
}
/* skills*/
.my-skills {
    background-color: var(--clr-dark);
    background-image: url(../img/pexels-photo-6330644.jpeg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}

.section__title--skills::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
}
@media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1270px;
        
    }
}
.skills {
    margin-bottom: 4em;
}

/*about me*/
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
@media (min-width: 800px) {
    .about-me {
        display: grid;

        text-align: justify;
        grid-template-columns: 1fr 420px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        
    }
    
    .section__title--about {
        grid-area: title;
    }
    
    .aboutimg {
        grid-area: img;
        height: 450px;
    }
}

/* contact section styling */
 .contact .content{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: column;
     margin-top: 5px;

 }
 .section__title_contact::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
}
 .section__title_contact{
     text-align: center;
     color: crimson;
}
 .contact .content .row{
     display:flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
 }
 .contact{
     background-image: url(../img/telephone.jpg);
 }
 .contact .content .row .card{
     background:#fff;
     width: 220px;
     margin: 5px;
     padding: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
     border-radius:10px ;
 }
 .contact .content .row .card .contact-icon{
    color: crimson;
    font-size: 4em;
    text-align: center;
    transition: transdorm 0.5s ease-in-out;
 }
 .contact .content .row .card:hover .contact-icon{
     transform:translateY(-10px);
 }
 .contact .content .row .card .info{
     text-align: center;
 }
 .contact .content .row .card .info h3{
    color:#111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.contact .content .row .card .info span{
    color: crimson;
    font-weight: 500;
}
.contact-form{
    background: rgb(245, 203, 203);
    max-width: 600px;
    margin-top: 10px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.contact-form h3{
    color: black;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contact-form .input-box input,
.contact-form .input-box textarea{
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight:400 ;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
}
.contact-form .input-box .send-btn{
    color: black;
    background: crimson;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition:0.5em ease-in-out ;
}
.contact-form .input-box .send-btn:hover{
    background: rgb(221, 0, 44);
}
.footer{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
}
.footer .footer-title{
    Font-size:20px;
    font-weight: 600;
}
